# Open.MP
/debug/

/src/components
/src/omp-server*
/src/config.json
/src/server.cfg
/src/gamemodes/*.amx
/src/filterscripts/*.amx
/src/bans.json
/src/log.txt
/src/scriptfiles/playerdata.db

/npc_recorder/gamemodes/*.amx
/npc_recorder/filterscripts/*.amx
/npc_recorder/announce.exe
/npc_recorder/samp-license.txt
/npc_recorder/samp-npc.exe
/npc_recorder/samp-server.exe
/npc_recorder/server-readme.txt
/npc_recorder/server.cfg
/npc_recorder/server_log.txt
