# Pasta com .amx e coisas à copiar pro servidor
/build/

# Configuração do VSCode
/.vscode/
/.pawnignore

# Bats pra compilar e subir os arquivos pro Raspberry Pi
/deploy.bat
/build.bat
/build_single.bat

# IA
/opencode.json
/.ai_docs/
